<%
	topnav = [
		#{id: 'ipacs', text: 'IPACS Home', url: 'http://www2.physcon.ru', title: 'International Physics and Control Society home page'},
		{id: 'ipacs', text: 'IPACS Home', url: 'http://physcon.ru', title: 'International Physics and Control Society home page'},
		{id: 'coms', text: 'CoMS', url: 'http://coms.physcon.ru', title: 'Conference Management System (submission site)'},
		{id: 'cap', text: 'CAP Journal', url: 'http://cap.physcon.ru', title: 'Cybernetics and Physics Journal'},
		#{id: 'lib', text: 'Library', url: 'http://lib2.physcon.ru', title: 'IPACS Electronic library'},
		{id: 'lib', text: 'Library', url: 'http://lib.physcon.ru', title: 'IPACS Electronic library'},
		{id: 'dir', text: 'Directory', url: 'http://physcon.ru/dir', title: 'Physics and Control resources directory'},
		{id: 'conf', text: 'Conferences', url: 'http://conf.physcon.ru', title: 'Conferences sites'},
		{id: 'album', text: 'Album', url: 'http://album.physcon.ru', title: 'Album'},
=begin
		{id: 'ipacs', text: 'IPACS Home', url: 'http://ipacs.evarist.ru', title: 'International Physics and Control Society home page'},
		{id: 'coms', text: 'CoMS', url: 'http://coms.physcon.ru', title: 'Conference Management System (submission site)'},
		{id: 'cap', text: 'CAP Journal', url: 'http://cap.evarist.ru', title: 'Cybernetics and Physics Journal'},
		{id: 'lib', text: 'Library', url: 'http://lib2.evarist.ru', title: 'IPACS Electronic library'},
		{id: 'dir', text: 'Directory', url: 'http://physcon.ru/dir', title: 'Physics and Control resources directory'},
		{id: 'conf', text: 'Conferences', url: 'http://conf.physcon.ru', title: 'Conferences sites'},
		{id: 'album', text: 'Album', url: 'http://album.physcon.ru', title: 'Album'},
=end
	]
%>
<div class='top'>
<div class='nav'><ul>
<% topnav.each do |elm| %>
	<% if elm[:id]==@site_id %>
		<li><a href="<%= elm[:url]%>" class="current" title="<%= elm[:title]%>"><strong><%= elm[:text] %></strong></a></li>
	<% else %>
		<li><a href="<%= elm[:url]%>" title="<%= elm[:title]%>"><%= elm[:text] %></a></li>
	<% end %>
<% end %>
</ul><br style="clear:left;" /><!-- div style="clear:left; height: 0; margin: 0; padding: 0;"></div --></div><!-- div style="clear:left; height: 0; margin: 0; padding: 0;"></div --><br style="clear:left;" /></div>

