!!! Strict
%html
 %head
  %title= yield(:page_title) + ' | IPACS'
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = yield(:scripts) if content_for?(:scripts)
  = csrf_meta_tags
 -@site_id = content_for :site_id
 =yield(:ga) if content_for?(:ga)
 %body{class: [@site_id, :any]}
  =render 'layouts/topnav'
  =content_for?(:content) ? yield(:content) : yield
  =render 'layouts/bottom'

