
-content_for :page_title, 'Library document'

-set_content_for :content do
 .doc_page
  -#=@children.inspect
  -#=@ancestors.inspect
  .path
   -@ancestors.each do |elm|
    %a{href: "doc?id=#{elm['_id']}"}= elm['title']
    \/
  -if @doc
   .info
    .title
     %h2= @doc['title']
    .subtitle
     %span= @doc['subtitle']
    .meta
     %span= @meta.inspect
    .authors
     %b= @authors.map{|a| a['fname']+' '+a['lname'] }.join(', ')
    .abstract
     %span!= nl2br h(@doc['abstract'])
    - if @file_id
     %div
      %b File:
      %a{href: "file?id=#{@file_id}"} download
  .children
   %ul
    -@children.each do |elm|
     %li
      .title
       %a{href: "doc?id=#{elm['_id']}"}= elm['info']['title']
      -if elm['info']['subtitle']
       .subtitle
        %i= elm['info']['subtitle']

-render :file => 'lib/layout'


