
-content_for :page_title, 'Library search results'

-set_content_for :content do
 -#= @docs.inspect
 .doc_page
  .search
   %form
    %input{type: 'text', name: 'q', value: (h @query_orig),style: 'width: 50%'}
    -#%input{type: 'text', name: 'q', value: (h @query),style: 'width: 50%'}
    %input{type: 'submit', value: 'Search'}
  -#= @meta.inspect
  -#= @doc.inspect
  -#=@children.inspect
  -#=@ancestors.inspect
  -#.path
   -@ancestors.each do |elm|
    %a{href: "doc?id=#{elm['_id']}"}= elm['title']
    \/
  -#if @doc
   -#add_head_tag 'meta', {name: 'citation_title', content: @doc['title']} if is_publication
   -#2010/5/12
   -#add_head_tag 'meta', {name: 'citation_publication_date', content: @doc['publication_year']}
   -#add_head_tag 'meta', {name: 'citation_online_date', content: @doc['']}
   .info
    .title
     %h2= @doc['title']
    .subtitle
     %span= @doc['subtitle']
    -#.meta
     %span= @meta.inspect
    .authors
     %b= @authors.map{|a| a['fname']+' '+a['lname'] }.join(', ')
     -# @authors.each do |a|
      -add_head_tag 'meta', {name: 'citation_author', content: a['fname']+' '+a['lname']}
    .abstract
     %span!= nl2br h(@doc['abstract'])
    - if @file_id
     %div
      %b File:
      %a{href: "file?id=#{@file_id}"} download
      -add_head_tag 'meta', {name: 'citation_pdf_url', content: request.base_url+'/'+"file?id=#{@file_id}"}
  .children
   %ul
    -@docs.each do |elm|
     %li
      -if elm['authors']
       .authors
        %span= elm['authors'].inject([]){|acc, a| acc << a['fname']+' '+a['lname']; acc}.join(', ')
      .title
       -#= elm['_id']
       -#= elm['info']['title']
       %a{href: "doc?id=#{elm['_id']}"}= elm['info']['title']
      -if elm['info']['subtitle']
       .subtitle
        %i= elm['info']['subtitle']

-render :file => 'lib/layout'


